{
    "swagger": "2.0",
    "info": {
        "description": "Swagger ProperT",
        "version": "1.0.0",
        "title": "Swagger ProperT",
        
        "contact": {
            "email": ""
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "ec2-13-58-19-178.us-east-2.compute.amazonaws.com:3000",
    "basePath": "/propert",
    
    "schemes": [
        "http"
    ],
    "paths": {
        "/getLandRecordsForAssetId": {
            "post": {
                
                "summary": "Get Asset Details",
                "description": "Get Asset Details",
                "operationId": "getLandRecordsForAssetId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "LC object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ASSETID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ASSET"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/getAssetHistory": {
            "post": {
                
                "summary": "Get Asset History",
                "description": "Get Asset History",
                "operationId": "getAssetHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Asset object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ASSETID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ASSET"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/transferAsset": {
            "post": {
                
                "summary": "Get Asset History",
                "description": "Get Asset History",
                "operationId": "transferAsset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Asset details",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ASSETTRANSFER"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ASSET"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/getMyLandRecords": {
            "post": {
                
                "summary": "Get Asset History",
                "description": "Get Asset History",
                "operationId": "getMyLandRecords",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Asset object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OWNERID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ASSET"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/addLandRecords": {
            "post": {
                
                "summary": "Add Land Records",
                "description": "Add Land Records",
                "operationId": "addLandRecords",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Asset object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ASSET"
                        }
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        }
    },
    "definitions": {
        "ASSET": {
            "type": "object",
            "properties": {
                "assetId": {
                    "type": "string",
                    "description": "Asset ID"
                },
                "latitude": {
                    "type": "string",
                    "description": "Asset East Coordinates ID"
                },
                "longitude": {
                    "type": "string",
                    "description": "Asset West Coordinates ID"
                },
                "length": {
                    "type": "string",
                    "description": "Asset North Coordinates ID"
                },
                "breadth": {
                    "type": "string",
                    "description": "Asset South Coordinates ID"
                },
                "address": {
                    "type": "string",
                    "description": "Asset Address"
                },
                "ownerId": {
                    "type": "string",
                    "description": "Owner Id"
                },
                "ownerName": {
                    "type": "string",
                    "description": "Owner Name"
                }
            }
        },
        "ASSETID": {
            "type": "object",
            "properties": {
                "assetId": {
                    "type": "string",
                    "description": "Asset ID"
                }
            }
        },
        "ASSETTRANSFER": {
            "type": "object",
            "properties": {
                "assetId": {
                    "type": "string",
                    "description": "Asset id"
                },
                "ownerId": {
                    "type": "string",
                    "description": "owner id"
                },
                "ownerName": {
                    "type": "string",
                    "description": "NEW OWNER NAME"
                }
            }
        },
	"OWNERID": {
            "type": "object",
            "properties": {
                "ownerId": {
                    "type": "string",
                    "description": "Asset ID"
                }
            }
        }
	
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}

